[{:id :javascript
  :name "JavaScript"
  :font-family :sans-serif
  :gh-color "#f1e05a"}
 {:id :python
  :name "Python"
  :font-family :sans-serif
  :website "https://www.python.org"
  :gh-color "#357285"}
 {:id :java
  :name "Java"
  :font-family :sans-serif
  :website "https://www.java.com"
  :gh-color "#b07219"}
 {:id :go
  :name "Go"
  :font-family :sans-serif
  :website "https://golang.org"
  :gh-color "#00add8"}
 {:id :c-plus-plus
  :name "C++"
  :font-family :sans-serif
  :gh-color "#f34b7d"}
 {:id :ruby
  :name "Ruby"
  :font-family :sans-serif
  :website "https://www.ruby-lang.org"
  :gh-color "#701516"}
 {:id :typescript
  :name "TypeScript"
  :font-family :sans-serif
  :website "https://www.typescriptlang.org"
  :gh-color "#2b7489"}
 {:id :php
  :name "PHP"
  :font-family :sans-serif
  :website "https://php.net"
  :gh-color "#4f5d95"}
 {:id :c-sharp
  :name "C#"
  :font-family :sans-serif
  :gh-color "#178600"}
 {:id :c
  :name "C"
  :font-family :sans-serif
  :gh-color "#555555"}
 {:id :shell
  :name "Shell"
  :font-family :sans-serif
  :gh-color "#89e051"}
 {:id :scala
  :name "Scala"
  :font-family :sans-serif
  :website "https://www.scala-lang.org"
  :gh-color "#c22d40"}
 {:id :rust
  :name "Rust"
  :font-family :serif
  :website "https://www.rust-lang.org"
  :gh-color "#dea584"}
 {:id :swift
  :name "Swift"
  :font-family :sans-serif
  :website "https://swift.org"
  :gh-color "#ffac45"}
 {:id :dart
  :name "Dart"
  :font-family :sans-serif
  :website "https://dart.dev"
  :gh-color "#00b4ab"}
 {:id :kotlin
  :name "Kotlin"
  :font-family :sans-serif
  :website "https://kotlinlang.org"
  :gh-color "#f18e33"}
 {:id :objective-c
  :name "Objective-C"
  :font-family :sans-serif
  :gh-color "#438eff"}
 {:id :groovy
  :name "Groovy"
  :font-family :handwritten
  :website "http://groovy-lang.org"
  :gh-color "#e69f56"}
 {:id :elixir
  :name "Elixir"
  :font-family :sans-serif
  :website "https://elixir-lang.org"
  :gh-color "#6e4a7e"}
 {:id :perl
  :name "Perl"
  :font-family :sans-serif
  :website "https://www.perl.org"
  :gh-color "#0298c3"}
 {:id :power-shell
  :name "PowerShell"
  :font-family :sans-serif
  :gh-color "#012456"}
 {:id :tsql
  :name "TSQL"
  :font-family :sans-serif}
 {:id :lua
  :name "Lua"
  :font-family :sans-serif
  :website "https://lua.org"
  :gh-color "#000080"}
 {:id :clojure
  :name "Clojure"
  :font-family :sans-serif
  :website "https://clojure.org"
  :gh-color "#db5855"}
 {:id :coffeescript
  :name "CoffeeScript"
  :font-family :handwritten
  :website "https://coffeescript.org"
  :gh-color "#244776"}
 {:id :emacs-lisp
  :name "Emacs Lisp"
  :font-family :sans-serif
  :gh-color "#c065db"}
 {:id :haskell
  :name "Haskell"
  :font-family :sans-serif
  :website "https://www.haskell.org"
  :gh-color "#5e5086"}
 {:id :vim-script
  :name "Vim script"
  :font-family :sans-serif
  :gh-color "#199f4b"}
 {:id :ocaml
  :name "OCaml"
  :font-family :sans-serif
  :website "https://ocaml.org"
  :gh-color "#3be133"}
 {:id :r
  :name "R"
  :font-family :sans-serif
  :website "https://www.r-project.org"
  :gh-color "#198ce7"}
 {:id :erlang
  :name "Erlang"
  :font-family :sans-serif
  :website "https://www.erlang.org/"
  :gh-color "#b83998"}
 {:id :jsonnet
  :name "Jsonnet"
  :font-family :sans-serif
  :website "https://jsonnet.org"
  :gh-color "#0064bd"}
 {:id :julia
  :name "Julia"
  :font-family :serif
  :website "https://julialang.org"
  :gh-color "#a270ba"}
 {:id :puppet
  :name"Puppet"
  :font-family :sans-serif
  :website "https://puppet.com"
  :gh-color "#302b6d"}
 {:id :f-sharp
  :name "F#"
  :font-family :sans-serif
  :website "https://fsharp.org"
  :gh-color "#b845fc"}
 {:id :matlab
  :name "MATLAB"
  :font-family :serif
  :gh-color "#e16737"}
 {:id :objective-c-plus-plus
  :name "Objective-C++"
  :font-family :sans-serif
  :gh-color "#6866fb"}
 {:id :fortran
  :name "Fortran"
  :font-family :serif
  :gh-color "#4d41b1"}
 {:id :abap
  :name "ABAP"
  :font-family :sans-serif
  :gh-color "#e8274b"}
 {:id :assembly
  :name "Assembly"
  :font-family :serif
  :gh-color "#6e4c13"}]
